<ion-header>
  <ion-toolbar>
    <ion-title>Circuit Management</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['/circuit-form'])">Add Circuit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let circuit of circuits">
      {{ circuit.fields.name.stringValue }}
      <ion-note slot="end">
        {{ circuit.fields.description.stringValue }}
      </ion-note>
      <ion-buttons slot="end">
        <ion-button (click)="editCircuit(circuit)">Edit</ion-button>
        <ion-button (click)="deleteCircuit(circuit)">Delete</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>