<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="8">
          <ion-avatar style="width: 100px; height: 100px;">
            <img src="assets/OIP.jpg" alt="Avatar">
          </ion-avatar>
        </ion-col>
        <ion-searchbar show-cancel-button="focus" placeholder="Show on Focus"></ion-searchbar>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="full" color="light" >
          <ion-icon name="bed" slot="start"></ion-icon>
          Hotels
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="light" >
          <ion-icon name="airplane" slot="start"></ion-icon>
          Flights
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="light">
          <ion-icon name="navigate" slot="start"></ion-icon>
          Circuits
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
